@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;700&family=Yeseva+One&display=swap');



/* utilities */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 95%;
    margin: auto;
}
.about_us{
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr 120px) / repeat(12, 1fr);
    grid-column-gap: 50px;
    grid-template-areas: 
    "u u u u u u i i i i i i"
    "u u u u u u i i i i i i"
    "a a a a a a a a a a a a";
}
.section{
    padding: 100px 0;
}
.article{
    grid-area: u;
    position: relative;
    padding: 30px;
}
.image{
    grid-area: i;
}
.blogs{
    grid-area: a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
h2 {
    font-family: cursive;
    font-size: 16px;
    color: #1FAA59;
    position: relative;
    padding-left: 60px;
}

.article>h2::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background: #1FAA59;
    left: 0;
    top: 50%;
}

h1 {
    font-family: Rubik;
    font-size: 40px;
    color: #242B2E;
    font-weight: 400;
    padding: 15px 0;
}

h1>span {
    font-weight: 600;
    color: #0D0D0D;
    display: block;
}

p {
    font-family: Poppins;
    padding: 10px 0;
}

article.blog_box {
    flex-basis: 31%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.article_icon {
    flex-basis: 25%;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    border: 1px solid #1faa5933;
    color: #1FAA59;
}

.article_detailes {
    flex-basis: 70%;
    padding: 0 10px;
}
.article_detailes_header{
    font-family: 'Rubik';
    font-size: 1.1em;
    font-weight: 400;
    padding: 0;
}
p.article_detailes_text {
    font-size: 15px;
    padding-bottom: 0;
}

/* 
font-family: 'Fira Code', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Yeseva One', cursive; */